.button {
    display: block;
    position: relative;
    background: white;
    border: none;
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    color: #333;
    cursor: pointer;
    width: 100%;
}

.iconContainer {
    position: absolute;
    left: 8px;
    height: 100%;
    display: flex;
    align-items: center;
}

.iconContainer img {
    display: block;
    width: 24px;
    height: 24px;
}

.button:disabled {
    cursor: not-allowed;
}

.buttonLabel {
    padding: 12px 8px;
    vertical-align: center;
}

.button.primary {
    border-radius: 4px;
    background: #66C136;
    color: white;
    border: none;
    transition: 0.2s ease-in-out background-color;
}

.button.primary:hover {
    background: #72cd36;
}

.button.primary:active {
    background: #5eb936;
}

.button.primary:disabled {
    background: #ccc;
    color: #666;
}


.button.secondary {
    border-radius: 4px;
    border: 2px solid #ccc;
    color: #666;
    transition: 0.2s ease-in-out border, 0.2s ease-in-out background-color;
}

.button.secondary:hover {
    border-color: #666;
}

.button.secondary:active {
    border-color: #333;
    background-color: #eee;
}

.button.secondary:disabled {
    color: #888;
    border-color: inherit;
    background-color: inherit;
}

.button.link {
    display: inline-block;
    background: transparent;
    font-size: 14px;
    color: #666;
    width: inherit;
}

.button.link:hover {
    text-decoration: underline;
}

.button.link .buttonLabel {
    padding: 8px 0;
}
