.orderCard {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    color: #333;
}

.coffeeType {
    font-weight: bold;
}

.user {
    margin-top: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #666;
}

.avatar img {
    display: block;
    border-radius: 100%;
    margin-right: 8px;
}
