[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
dto-generator = {editable = true,path = "./../tools/dto_generator"}

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
marshmallow-enum = "*"
flask-login = "*"
oauthlib = "*"
requests = "*"
pyopenssl = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
