.header {
    width: 100%;
    background: #333;
    color: white;
    box-sizing: border-box;
    display: flex;
}

.appLogoLink {
    text-align: center;
    margin: 0 auto;
    color: white;
    text-decoration: none;
}

.appLogo {
    display: block;
}

.holder {
    width: 56px;
}

.profile {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header.hasBackButton {
    padding-left: 0;
}

.button {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    flex-shrink: 1;
    color: white;
    cursor: pointer;
}

.sideMenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.sideMenuBg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.2s ease-in-out opacity;
}

.sideMenu.enter .sideMenuBg,
.sideMenu.exitActive .sideMenuBg{
    opacity: 0;
}

.drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    background: white;
    right: 0;
    height: 100%;
    max-width: 320px;
    color: #333;
    box-sizing: border-box;
    padding: 16px 0;
    transition: 0.2s ease-in-out transform;
    transform: translateX(0);
}

.sideMenu.enter .drawer,
.sideMenu.exitActive .drawer {
    transform: translateX(100%);
}

.userInfo {
    display: flex;
    align-items: center;
    padding: 8px 32px;
    margin-bottom: 16px;
}

.avatarImg {
    height: 48px;
    width: auto;
    border-radius: 100%;
    margin-right: 8px;
}

.drawerMenu {
    flex-grow: 1;
}
