.skeleton {
    /* Disable iOS Safari double tap to zoom */
    touch-action: manipulation;
}

.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.contentContainer {
    padding-top: calc(56px + env(safe-area-inset-top));
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}
