.list {

}

.listItem {
    list-style: none;
}

.listItemLink {
    padding: 8px 32px;
    display: block;
    list-style: none;
    color: #333;
    text-decoration: none;
    transition: 0.2s ease-in-out background-color;
}

.listItemLink:hover {
    background-color: #eee;
}
